@media screen and (max-width: 1510px) {

    .main {
        padding-top: 75px;
    }

    .skillBox--elementsBox {
        flex: 1;
        max-width: none;
        justify-content: center;
    }
}


@media screen and (max-width: 1050px) {
    .svgMorph {
        display: none;
    }
    
    .bigName::before {
        display: none;
    }
    
    .projectsList {
        justify-content: center;
    }
    
}

@media screen and (max-width: 700px) {
    nav {
        display: none;
    }

}
/* 
@media (min-width: 768px) {
    .projectCard {
        max-width: 400px;
    }
} */

/* @media (min-width: 1024px) {
    .projectCard {
        min-width: 350px;
    }
} */