@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Outfit&family=Poppins:wght@400;500;600&display=swap');


:root {
  /* colors */
  --portage-50: #edf3ff;
  --portage-100: #deeaff;
  --portage-200: #c4d7ff;
  --portage-300: #a0bdff;
  --portage-400: #7a97ff;
  --portage-500: #5b72f9;
  --portage-600: #3d49ee;
  --portage-700: #2f37d3;
  --portage-800: #2931aa;
  --portage-900: #293286;
  --portage-950: #181b4e;
  --white: #f4f6fb;
  --black: #0f0f12;
  --outline: #27272a;
  --tags: #6f6f6f;
  --shared-primary: var(--portage-500);
  
  /* --- Light theme --- */
  --light-secondary: #0f172a;
  --light-trait: var(--portage-300);
  --light-bg: var(--white);
  --light-bg-object: #ffffff;
  --light-text: var(--portage-950);
  --light-text1: #0f172a;
  --light-text2: var(--portage-800);
  --light-text3: #334155;
  --light-outline: #bebebe;
  --light-shadow: rgba(0, 0, 0, 20%);
  --light-gradient: linear-gradient(90deg, var(--white) 0%, rgba(249, 249, 250, 0.15) 50.27%, var(--white) 100%);
  --light-switcher-circle-bg: #E0B727;
  --light-switcher-circle-pos: .31rem;
  --light-moon: #130f1c;
  --light-sun: #EEEEEE;
  --light-icon-hover: var(--portage-700);
  
  /* --- Dark theme --- */
  --dark-secondary: var(--portage-100);
  --dark-trait: var(--portage-400);
  --dark-bg: var(--black);
  --dark-bg-object: #18181b;
  --dark-text: var(--portage-50);
  --dark-text1: #94a3b8;
  --dark-text2: var(--portage-200);
  --dark-text3: #cbd5e1;
  --dark-outline: var(--outline);
  --dark-shadow: rgba(238, 238, 238, 20%);
  --dark-gradient: linear-gradient(90deg, var(--black) 0%, rgba(16, 16, 16, 0.15) 50.27%, var(--black) 100%);
  --switcher-bg: #D9D9D9 ;
  --dark-switcher-circle-bg: #3e3e3e;
  --dark-switcher-circle-pos: 2.86rem;
  --dark-moon: #EEEEEE;
  --dark-sun: #AEAEAE;
  --dark-icon-hover: var(--portage-400);
}

:root[data-theme = "dark"] .wrapper, 
:root[data-theme = "dark"] html {
  --secondary: var(--dark-secondary);
  --trait: var(--dark-trait);
  --bg: var(--dark-bg);
  --bg-object: var(--dark-bg-object);
  --text: var(--dark-text);
  --text1: var(--dark-text1);
  --text2: var(--dark-text2);
  --text3: var(--dark-text3);
  --outline: var(--dark-outline);
  --shadow: var(--dark-shadow);
  --gradient: var(--dark-gradient);
  --switcher-circle-pos: var(--dark-switcher-circle-pos);
  --switcher-circle-bg: var(--dark-switcher-circle-bg);
  --sun: var(--dark-sun);
  --moon: var(--dark-moon);
  --icon-hover: var(--dark-icon-hover);
}

html,
.wrapper {
  overflow-x: clip;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  --secondary: var(--light-secondary);
  --trait: var(--light-trait);
  --bg: var(--light-bg);
  --bg-object: var(--light-bg-object);
  --text: var(--light-text);
  --text1: var(--light-text1);
  --text2: var(--light-text2);
  --text3: var(--light-text3);
  --outline: var(--light-outline);
  --shadow: var(--light-shadow);
  --gradient: var(--light-gradient);
  --switcher-circle-pos: var(--light-switcher-circle-pos);
  --switcher-circle-bg: var(--light-switcher-circle-bg);
  --sun: var(--light-sun);
  --moon: var(--light-moon);
  --icon-hover: var(--light-icon-hover);
}

.wrapper {
    transition: all .5s;
}



.wrapper, html {
    background-color: var(--bg);
    color: var(--text);
    --primary: var(--shared-primary);
    overflow-x: clip;
}

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}